ignore-empty-password

show-failed-attempts
show-keyboard-layout
font=JetBrains Mono

color=1d1f21
indicator-idle-visible
indicator-radius=150
indicator-thickness=30

inside-color=1d1f21
inside-clear-color=1d1f21
inside-ver-color=1d1f21
inside-wrong-color=1d1f21

key-hl-color=4c566a
bs-hl-color=bf616a

separator-color=4c566a

line-color=1d1f21
line-uses-ring

text-color=88c0d0
text-clear-color=b5bd68
text-caps-lock-color=ebcb8b
text-ver-color=88c0d0
text-wrong-color=bf616a

ring-color=88c0d0
ring-ver-color=88c0d0
ring-clear-color=a3be8c
ring-wrong-color=bf616a
