on_force_close "quit" // quit or detach
//default_shell $SHELL
pane_frames true
theme "pugnace"
//default_layout "monitor"

//default_mode "normal"
// change mouse mode if problem woith copy and paste
mouse_mode true
scroll_buffer_size 10000
// copy command for wayland
copy_command "wl-copy" 
copy_clipboard "primary"
copy_on_select false
scrollback_editor "$EDITOR"
mirror_session false

themes {
    pugnace {
        fg "#d8dee9"
        bg "#1d1f21"
        black "#1d1f21"
        red "#bf616a"
        green "#a3be8c"
        yellow "#ebcb8b"
        blue "#88c0d0"
        magenta "#b48ead"
        cyan "#8fbcbb"
        white "#d8dee9"
        orange "#d08770"
    }
}
