/***********************************************************************************************************
 ██▓███   █    ██   ▄████  ███▄    █  ▄▄▄       ▄████▄  ▓█████   ██████     ███▄ ▄███▓▓█████▄    ██████
▓██░  ██▒ ██  ▓██▒ ██▒ ▀█▒ ██ ▀█   █ ▒████▄    ▒██▀ ▀█  ▓█   ▀ ▒██    ▒    ▓██▒▀█▀ ██▒▒██▀ ██▌   █    █
▓██░ ██▓▒▓██  ▒██░▒██░▄▄▄░▓██  ▀█ ██▒▒██  ▀█▄  ▒▓█    ▄ ▒███   ░ ▓██▄      ▓██    ▓██░░██   █▌   █    █
▒██▄█▓▒ ▒▓▓█  ░██░░▓█  ██▓▓██▒  ▐▌██▒░██▄▄▄▄██ ▒▓▓▄ ▄██▒▒▓█  ▄   ▒   ██▒   ▒██    ▒██ ░▓█▄   ▌   █    █
▒██▒ ░  ░▒▒█████▓ ░▒▓███▀▒▒██░   ▓██░ ▓█   ▓██▒▒ ▓███▀ ░░▒████▒▒██████▒▒   ▒██▒   ░██▒░▒████▓ ██ █    █ ██
▒▓▒░ ░  ░░▒▓▒ ▒ ▒  ░▒   ▒ ░ ▒░   ▒ ▒  ▒▒   ▓▒█░░ ░▒ ▒  ░░░ ▒░ ░▒ ▒▓▒ ▒ ░   ░ ▒░   ░  ░ ▒▒▓  ▒  █        █
░▒ ░     ░░▒░ ░ ░   ░   ░ ░ ░░   ░ ▒░  ▒   ▒▒ ░  ░  ▒    ░ ░  ░░ ░▒  ░ ░   ░  ░      ░ ░ ▒  ▒   █      █
░░        ░░░ ░ ░ ░ ░   ░    ░   ░ ░   ░   ▒   ░           ░   ░  ░  ░     ░      ░    ░ ░  ░    █    █
            ░           ░          ░       ░  ░░ ░         ░  ░      ░            ░      ░        █  █
                                               ░                                       ░           ██
************************************************************************************************************/

/* still need to implement the first page with icons, author name, date, title, a light mode with @media, style array
change the underlined color, fixe the numbers,set default for images, pages numbers 
*/

/*------ Basic global parameters --------------------------------------------*/
Html,body {
	font-family: "JetBrains Mono", Times, serif;
	text-align: justify;
	margin: 5px 5px 5px 5px;
}
/*---------------------------------------------------------------------------*/

/*------ Headings: Use nested counters --------------------------------------*/
body { counter-reset: h1counter; }
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}
/*---------------------------------------------------------------------------*/
/*------- Attribute the current counter value to each titles ----------------*/
h1:before {
	counter-increment: h1counter;
	content: "Section "counter(h1counter) ":" "\0000a0\0000a0";
}

h2:before {
	counter-increment: h2counter;
	content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
	counter-increment: h3counter;
	content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
	counter-increment: h4counter;
	content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
	counter-increment: h5counter;
	content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
	counter-increment: h6counter;
	content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}
/*---------------------------------------------------------------------------*/

/*------ Lighter color around titles-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	background-color: #4c566a;
}
/*---------------------------------------------------------------------------*/

/*------ Dark mode color scheme ---------------------------------------------*/
html, body {
	/*background-color: #2e3440;*/
	background-color: #1d1f21;
	color: #8fbcbb;
	}
a:link {
	color: #81a1c1;
}
h1 {
	color: #bf616a;
}
h2 {
	color: #d08770;
}
h3 {
	color: #ebcb8b;
}
h4 {
	color: #a3be8c;
}
/*---------------------------------------------------------------------------*/

/*------ TOC: Use nested counters for list items ----------------------------*/
.table-of-contents:before {
	content: "Table of contents";
}

.table-of-contents ol {
	counter-reset: list-item;
}
.table-of-contents li {
	display: block; counter-increment: list-item;
}
.table-of-contents li:before {
	content: counters(list-item,'.') '.\0000a0';
}
/*---------------------------------------------------------------------------*/

/*------ Tables setup -------------------------------------------------------*/
table, th, td {
	
	font-family: "JetBrains Mono", Times, serif;
	background-color: #4c566a;
}
table {
  border-collapse: collapse;
  width: 100%;
}
/*---------------------------------------------------------------------------*/
